.registration-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.button {
  background-color: rgba(0, 113, 227, 1);
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.linkButton {
  background-color: transparent;
  color: #007bff;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: left;
}
