.profile {
  margin-top: clamp(20px, 2vw, 50px);
  border: 2px solid rgba(189, 189, 189, 1);
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
}
.master-description {
  display: flex;
  flex-direction: row;
}
.master-description > p {
  width: 70%;
}
.pfp {
  display: grid;
  place-items: center;
}
.pfp > img {
  width: clamp(80px, 10vw, 120px);
}

.master-description > p {
  font-weight: bold;
}
.share {
  font-size: 20px;
  background-color: black;
  color: white;
}
.follow {
  font-size: 20px;
  background-color: transparent;
  border: 2px solid black;
  color: black;
}
.button-group {
  position: relative;
  display: flex;
  flex-direction: column;
}
.group-sf {
  display: flex;
  gap: 30px;
  position: absolute;
  right: 0;
}
.order {
  position: absolute;
  font-size: 16px;
  bottom: 0;
  right: 0;
}
/* @media (max-width: 860px) {
  .profile {
    grid-template-columns: 100%;
  }
  .group-sf {
    left: 0;
  }
} */
