.reviews {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
}
.filter {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.filter > h1 {
  margin-bottom: 15px;
  font-size: 20px;
}
.filter-btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: white;
  border: 2px solid black;
  color: black;
  cursor: pointer;
}
.comment-header {
  position: relative;
  width: 100%;
}
.filter-btn.active {
  background-color: black;
  color: white;
}
.comments {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.comment-card {
  padding: 10px;
  background-color: rgba(225, 232, 235, 1);
  border: 2px solid rgba(147, 147, 147, 1);
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
.comment-card > p {
  width: 100%;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}
.pagination {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.pagination-btn {
  display: flex;
  font-size: 16px;
  background-color: transparent;
  color: black;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin: 0 10px;
}
.pagination-btn > img {
  width: auto;
}
.com-rating {
  font-size: 25px;
  color: #f4b400;
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 800px) {
  .reviews {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .filter {
    grid-column: 1;
    grid-row: 1;
  }
  .comments {
    grid-column: 1;
    grid-row: 2;
  }
  .pagination {
    grid-column: 1;
    grid-row: 3;
  }
}
